.experience-page {
  min-height: 100vh;

  padding: 70px 80px;

  background: #f5f3f1;
}

/* HEADER */

.experience-header {
  margin-bottom: 70px;
}

.experience-subtitle {
  display: flex;
  align-items: center;
  gap: 14px;

  color: #b57cff;

  letter-spacing: 4px;
  font-size: 13px;

  margin-bottom: 25px;
}

.line {
  width: 40px;
  height: 2px;

  background: #b57cff;
}

.experience-header h1 {
  font-size: 64px;
  line-height: 1;

  color: #2d0b18;

  font-family: Georgia, serif;

  margin-bottom: 25px;
}

.experience-header h1 span {
  color: #b57cff;
  font-style: italic;
}

.header-line {
  width: 70px;
  height: 2px;

  background: #dec8ff;
}

/* TIMELINE */

.timeline {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 50px;

  padding-left: 30px;
}

.timeline::before {
  content: "";

  position: absolute;

  left: 8px;
  top: 0;

  width: 2px;
  height: 100%;

  background: #d8b8ff;
}

/* ITEM */

.timeline-item {
  position: relative;
}

.timeline-dot {
  position: absolute;

  left: -30px;
  top: 40px;

  width: 18px;
  height: 18px;

  border-radius: 50%;

  background: #9c67da;

  border: 4px solid #f5f3f1;
}

/* CARD */

.timeline-card {
  background: #fcfbff;

  border: 1px solid #eadcff;

  border-radius: 28px;

  padding: 35px;

  transition: 0.3s;
}

.timeline-card:hover {
  transform: translateY(-4px);

  box-shadow: 0 18px 40px rgba(181, 124, 255, 0.12);
}

.date {
  color: #9c67da;

  font-size: 13px;
  letter-spacing: 2px;

  text-transform: uppercase;
}

.timeline-card h2 {
  font-size: 30px;

  color: #2d0b18;

  font-family: Georgia, serif;

  margin-top: 15px;
  margin-bottom: 10px;
}

.timeline-card h3 {
  font-size: 18px;

  color: #8d61d8;

  font-weight: 500;

  margin-bottom: 22px;
}

.timeline-card p {
  font-size: 16px;
  line-height: 1.9;

  color: #7a5b68;

  margin-bottom: 28px;
}

/* TECHS */

.experience-techs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.experience-techs span {
  background: #f1e7ff;

  color: #8d61d8;

  padding: 8px 14px;

  border-radius: 10px;

  font-size: 12px;
}

/* RESPONSIVO */

@media (max-width: 768px) {
  .experience-page {
    padding: 50px 25px;
  }

  .experience-header h1 {
    font-size: 48px;
  }

  .timeline-card h2 {
    font-size: 24px;
  }

  .timeline-card h3 {
    font-size: 16px;
  }

  .timeline-card p {
    font-size: 15px;
  }
}